[Unit]
Description=usermonitor service
Wants=network.target
After=iotmanager.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/home/syslog_monitor/syslog_monitor.sh
StandardOutput=journal
KillMode=mixed
Restart=always
RestartSec=8s

[Install]
WantedBy=multi-user.target
